body {
    display: flex;
    font-family: 'Microsoft YaHei', sans-serif;
    background-color: white;
    color: #3C3C3C;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

aside {
    flex: 1;
    margin-right: 20px;
}

main {
    flex: 3;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 2.5rem;
    color: #E2446A;
    border-bottom: 2px solid #E2446A;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

h2 {
    font-size: 1.8rem;
    color: #E2446A;
    border-bottom: 2px solid #E2446A;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

h3 {
    font-size: 1.4rem;
    color: #E2446A;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav a {
    display: block;
    padding: 5px;
    color: #E2446A;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #F3B0B0;
}

img {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #E2446A;
    color: white;
}

tr:nth-child(even) {
    background-color: #F3B0B0;
}

tr:hover {
    background-color: #EFA7A7;
}

a {
    color: #E2446A;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 100px; /* 设置按钮宽度 */
    height: 100px; /* 设置按钮高度 */
    padding: 10px;
    border-radius: 20px; /* 将圆角半径修改为像素值 */
    background-color: rgba(255, 192, 203, 0.8);
    color: #E2446A;
    font-size: 30px;
    z-index: 9999;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    border: 2px solid #fff;
}
  
  
  
  
.scroll-to-top:hover {
    transform: scale(1.1);
}
  
  
